#cabecera, #menu, #lateral, #comentarios, #sub {
 	display: none !important;
}

header, footer, nav, aside, a {
  display: none;
}

.footer, #ivabr, #totalbr, #montobr, #imprimir {
  display: none;
}

body, #contenido, #principal, #pie {
 	float: none !important;
 	width: auto !important;
 	margin:  -12mm 12mm 12mm 12mm !important;
	padding: 0 !important;
}

body { 
	color: #000; 
	font: 100%/150% Georgia, "Times New Roman", Times, serif; 
}

#imglogo {
	margin-left: -60px;
}

#hr {
	visibility: visible;
}

#hrfirma {
	visibility: visible;
	float: right;
	margin-top: 120px;
	width: 200px;
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}

#lbfirma {
	visibility: visible;
	float: right !important;
	text-align: right !important;
	margin: 130px -220px 0 0;
}

#title {
	text-align: center;
	font-weight: bold;
	margin: 0 auto;
	max-width: 800px;
	margin-top: 200px;
}

h1#title {
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	margin: 0 auto;
	max-width: 800px;
	margin-top: 200px;
	margin-bottom: -180px;
}

.expediente-box .box-header, .perito-box .box-header, .login-box .box-header {
	text-align: center;
}

.expediente-box .twocolumn label, .perito-box .threecolumn label, .expediente-box .onecolumn label, .login-box label {
	text-align: left;
	float: left;
}

.expediente-box .twocolumn input, .perito-box .threecolumn input, .expediente-box .onecolumn input, .login-box input {
	border: none;
	text-align: right;
	float: right;
}

.login-box input:before {
    content: '\25BC';
}